<div class="mj-embedded" style="box-sizing: border-box; text-align: left; font-family: system-ui, -apple-system, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue;">
  <div class="mj-form">
    <div>
      <input class="w-preview-fields-content-cell-field-email" placeholder="Adresse E-Mail" name="w-field-field-34004-161079-792606-email" required="required" style="box-sizing: border-box; font-family: system-ui, -apple-system, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue; font-size: 16px; width: 100%; padding: 12px; border: 0; color: rgb(102, 102, 102); background-color: rgb(240, 239, 232);" type="email">
    </div>
    <div class="mj-form-button">
      <div class="mj-subscribe-button" style="box-sizing: border-box; width: auto;  font-family: system-ui, -apple-system, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue; font-size: 16px; color: rgb(255, 255, 255); white-space: nowrap; background-color: rgb(118, 182, 189); padding: 12px; border: 0;">
        <div class="mj-subscribe-button-content">S'abonner</div>
      </div>
    </div>
  </div>
</div>