/*
      Buttons
-------------------------------
*/

:root {
  --transition: opacity 0.25s, background-color 0.25s, border 0.25s,
    box-shadow 0.25s, fill 0.25s;
}

@button default {
  button-border-width: 0;
  button-color: var(--color-text) var(--color-bg) var(--color-bg);
  button-background: var(--color-alt) var(--color-neutral) var(--color-neutral);
  button-class: active disabled true;
}

.btn {
  button: default;
}

.btn-primary {
  button-border: var(--unit-px) var(--dsfr-bf500) var(--color-neutral)
    var(--dsfr-color-hover);
  button-color: var(--color-bg) var(--color-bg) var(--color-bg);
  button-background: var(--dsfr-bf500) var(--color-neutral)
    var(--dsfr-color-hover);
  button-class: active disabled true;
  border-radius: var(--unit-xs);
  padding: var(--unit-s);
  width: 100%;
}

.btn-border {
  button-border: var(--unit-px) var(--color-alt) var(--color-neutral)
    var(--color-neutral);
  button-color: var(--color-text) var(--color-bg) var(--color-bg);
  button-background: var(--color-bg) var(--color-neutral) var(--color-neutral);
  button-class: active disabled true;
}

.btn-tab {
  button-border: var(--unit-px) var(--color-alt) var(--color-neutral)
    var(--color-neutral);
  button-color: var(--color-text) var(--color-bg) var(--color-bg);
  button-background: var(--color-transparent) var(--color-neutral)
    var(--color-neutral);
  button-class: active disabled;
}

.btn-alt {
  button-color: var(--color-text) var(--color-bg) var(--color-bg);
  button-background: var(--color-bg) var(--color-neutral) var(--color-neutral);
  button-class: active disabled false;
}

.btn-flash {
  button-color: var(--color-bg) var(--color-bg) var(--color-bg);
  button-background: var(--color-neutral) var(--color-inverse)
    var(--color-neutral);
  button-class: active disabled false;
}

.btn-menu {
  button-color: var(--color-text) var(--color-neutral) var(--color-inverse);
  button-background: var(--color-transparent) var(--color-transparent)
    var(--color-transparent);
  button-class: active disabled true;
}

.btn,
.btn-alt,
.btn-border,
.btn-menu,
.btn-flash,
.btn-tab {
  transition: var(--transition);
  font-weight: 700;
}

.btn-icon {
  line-height: 1rem;
}
