.spinner {
  margin: 25% auto;
  width: 10rem;
  text-align: center;
}

.spinner > div {
  width: var(--unit);
  height: var(--unit);
  background-color: var(--color-inverse);
  border-radius: 100%;
  display: inline-block;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  animation-delay: -0.16s;
}

@keyframes sk-bouncedelay {
  0%,
  80%,
  100% {
    transform: scale(0);
  }

  50% {
    transform: scale(1);
  }
}
