/*
    Theme
-------------------------------
*/

[v-cloak] {
  display: none;
}

html {
  overflow-x: hidden;
}

.sponsor {
  max-height: calc(var(--unit) * 4);
}

.logo {
  height: calc(var(--unit) * 4);
}

.map:not(.leaflet-pseudo-fullscreen) {
  z-index: 0;
}

.map-detail,
.map-view {
  min-height: calc(var(--unit) * 21);
}

.points {
  height: calc(var(--unit) * 24);
  overflow-y: scroll;
}

.points .container {
  min-height: 100%;
}

.line {
  /* margin-top: calc(var(--unit-xxs) * -1); */
  border-top-width: var(--unit-xxs);
  border-top-style: solid;
  border-top-color: var(--color-alt);
}

.line-neutral {
  /* margin-top: calc(var(--unit-xxs) * -1); */
  border-top-width: var(--unit-xxs);
  border-top-style: solid;
  border-top-color: var(--color-neutral);
}

.separator {
  display: block;
  width: calc(var(--col-width) / 2 - var(--gutter));
  height: var(--unit-xs);
  margin-top: calc(var(--unit) * 2);
  margin-bottom: calc(var(--unit) * 2);
  background: #76b6bd;
  background: linear-gradient(to right, #b5d1d1, #76b6bd);
}

.sticky-header {
  top: 0;
  z-index: 1;
  position: sticky;
  background-color: var(--color-bg);
}

.banner {
  background-color: var(--color-alt);
  z-index: 1;
  border-bottom: dashed 1px var(--color-text);
}

.header-menu {
  padding: 0;
  list-style: none;
  margin-bottom: 0;

  & > li {
    margin-bottom: 0;
    float: left;
  }
}

.content {
  padding-top: var(--unit);
}

.popup {
  overflow: auto;
  display: flex;
  flex-direction: column;
  z-index: 2;
}

.popup-header {
  flex: 0 0 auto;
  border-bottom-width: var(--unit-xxs);
  border-bottom-style: solid;
  border-bottom-color: var(--color-alt);
  margin-bottom: calc(-1 * var(--unit-xxs));
  z-index: 1;
}

.popup-content {
  flex: 0 0 auto;
  overflow-y: auto;
  overscroll-behavior: contain;
}

.popup-footer {
  flex: 0 0 auto;
  border-top-width: var(--unit-xxs);
  border-top-style: solid;
  border-top-color: var(--color-alt);
  margin-top: calc(-1 * var(--unit-xxs));
}

.map-loader {
  z-index: 500;
  background-color: var(--color-bg);
  right: 0;
  top: 0;
}

.footer a {
  color: var(--color-alt);

  &:hover {
    color: var(--color-bg);
  }
}

.lead {
  typescale: 1 1.25;
  margin: var(--unit-xl) var(--unit);
  color: var(--color-info);
  font-style: italic;
}

.camino-header-baseline {
  padding-left: 25%;
  margin-top: -1.5rem;
}

.messages {
  position: fixed;
  width: calc(100% - (2 * var(--gutter)));
  transform: translate(-50%, 0);
  top: auto;
  right: auto;
  bottom: calc(var(--unit) * 3);
  left: 50%;
  z-index: 2;
}

.accordion-header {
  flex-direction: column;
  align-items: stretch;
  flex-wrap: wrap;
  overflow: hidden;
}

.dropdown {
  z-index: 1;
}

.downloads {
  height: calc(3 * var(--unit));
}

.lh-2 {
  line-height: 2;
}

ul.li-mb-s > li {
  margin-bottom: var(--unit-s);
}

ul.li-sep > li {
  &:not(:last-child):after {
    content: '—';
    color: grey;
    display: block;
  }
}

.span-tab {
  color: var(--color-text);
  background-color: var(--color-neutral);
}

.content-editable :last-child {
  margin-bottom: 0;
}

.geo-groupe {
  padding: var(--unit-xs) var(--unit-xs) 0 var(--unit-xs);
  box-shadow: inset 0 0 0 var(--unit-px) var(--color-alt);
  border-radius: var(--unit);
  background-color: var(--color-neutral);
  display: inline-block;
  width: 100%;
}

.geo-groupe-edit {
  border-radius: var(--unit) var(--unit) var(--unit-m) var(--unit-m);
}

.geo-contour {
  padding: var(--unit-xs) var(--unit-xs) 0 var(--unit-xs);
  box-shadow: inset 0 0 0 var(--unit-px) var(--color-alt);
  margin-bottom: var(--unit-xs);
  border-radius: var(--unit-m);
  background-color: var(--color-alt);
  display: inline-block;
  width: 100%;
}

.geo-point {
  padding: var(--unit-s) var(--unit-s) 0 var(--unit-s);
  box-shadow: inset 0 0 0 var(--unit-px) var(--color-alt);
  margin-bottom: calc(var(--unit-xs) - var(--unit-px));
  border-radius: var(--unit-s);
  background-color: var(--color-bg);
  width: 100%;
  border-bottom: var(--unit-px) solid var(--color-alt);
}

h6.color {
  color: var(--color-info);
}

.archive img {
  filter: grayscale(100%);
}

.archive h6.color {
  color: var(--color-neutral);
}

@media (--viewport-tablet) {
  .tablet-pt-s {
    padding-top: var(--unit-s);
  }

  .tablet-mb-0 {
    margin-bottom: 0;
  }

  .tablet-mb {
    margin-bottom: var(--unit);
  }

  .tablet-mb-s {
    margin-bottom: var(--unit-s);
  }

  .tablet-mb-m {
    margin-bottom: var(--unit-m);
  }

  .menubar-infos {
    padding-top: var(--unit-m);
    margin-top: 0;
  }

  .map-view {
    min-height: calc(24 * var(--unit));
    height: calc(100vh - (16.5 * var(--unit)));
  }

  .table-view {
    min-height: calc(24 * var(--unit));
  }

  .header-blobs {
    flex-direction: row-reverse;
  }

  .messages {
    width: calc(2 * var(--col-width) - var(--gutter));
  }

  .accordion-header {
    flex-direction: row;
  }

  .downloads {
    height: inherit;
  }
}

@media (--viewport-desktop) {
  .camino-header-baseline {
    padding-left: 9.2rem;
  }

  .leaflet-left {
    left: var(--unit-l);
  }

  .popup {
    width: calc(2 * var(--col-width) - var(--gutter));
    max-height: calc(100% - 4 * var(--unit));
    transform: translate(-50%, 0);
    top: calc(var(--unit) * 2);
    right: auto;
    bottom: auto;
    left: 50%;
    border-radius: var(--unit);
    overflow: hidden;
  }

  .popup-content {
    height: calc(100% - 8 * var(--unit));
    flex: 1 1 auto;
  }
}
