/*
      postcss-grid-system
-------------------------------

https://github.com/francoisromain/postcss-grid-system

*/

@gs {
  width: var(--col-width);
  gutter: var(--gutter);
  padding: var(--container-padding);
  max: 8;
  min: 2;
  display: flex;
  align: center;
}

.container {
  gs: container;
}

.row {
  gs: row;
}

.bloc-one-half {
  gs: fraction 1/2;
}

.bloc-three-half {
  gs: fraction 3/2;
}

.bloc-one-third {
  gs: fraction 1/3;
}

.bloc-two-third {
  gs: fraction 2/3;
}

.bloc-one-fourth {
  gs: fraction 1/4;
}

.bloc-three-fourth {
  gs: fraction 3/4;
}

.bloc-five-fourth {
  gs: fraction 5/4;
}

@gs-media 2 {
  .bloc-2-1 {
    gs: bloc 1;
  }

  .bloc-2-2 {
    gs: bloc 2;
  }

  .bloc-2-3 {
    gs: bloc 3;
  }

  .bloc-2-4 {
    gs: bloc 4;
  }

  .bloc-2-5 {
    gs: bloc 5;
  }

  .bloc-2-6 {
    gs: bloc 6;
  }

  .bloc-2-7 {
    gs: bloc 7;
  }

  .bloc-2-8 {
    gs: bloc 8;
  }
}

@gs-media 1 {
  .show-1 {
    display: flex;
    visibility: visible;
  }

  .hide-1 {
    display: none;
    visibility: hidden;
  }
}

@gs-media 2 {
  .show-2 {
    display: flex;
    visibility: visible;
  }

  .right-2 {
    margin-left: auto;
  }

  .hide-2 {
    display: none;
    visibility: hidden;
  }
}

@gs-media 3 {
  .show-3 {
    display: flex;
    visibility: visible;
  }

  .hide-3 {
    display: none;
    visibility: hidden;
  }
}

@gs-media 4 {
  .show-4 {
    display: flex;
    visibility: visible;
  }

  .hide-4 {
    display: none;
    visibility: hidden;
  }
}

@gs-media 5 {
  .show-5 {
    display: flex;
    visibility: visible;
  }

  .hide-5 {
    display: none;
    visibility: hidden;
  }
}

@gs-media 6 {
  .show-6 {
    display: flex;
    visibility: visible;
  }

  .hide-6 {
    display: none;
    visibility: hidden;
  }
}

@gs-media 7 {
  .show-7 {
    display: flex;
    visibility: visible;
  }

  .hide-7 {
    display: none;
    visibility: hidden;
  }
}

@gs-media 8 {
  .show-8 {
    display: flex;
    visibility: visible;
  }

  .hide-8 {
    display: none;
    visibility: hidden;
  }
}
