/* Debug trick -------------------------------
http://qr.ae/ROqymT */

.debug {
  background-color: rgba(255, 0, 0, 0.2);
}

.debug * {
  background-color: rgba(0, 255, 0, 0.2);
}

.debug * * {
  background-color: rgba(0, 0, 255, 0.2);
}

.debug * * * {
  background-color: rgba(255, 0, 255, 0.2);
}

.debug * * * * {
  background-color: rgba(0, 255, 255, 0.2);
}

.debug * * * * * {
  background-color: rgba(255, 255, 0, 0.2);
}

.debug * * * * * * {
  background-color: rgba(255, 255, 0, 0.2);
}

.grid {
  background-size: var(--col-width) calc(var(--unit) / 2);
  background-position: center top;
  background-image: linear-gradient(
    rgba(0, 0, 0, 0.05) 0.01rem,
    transparent 0.09rem
  ),
    linear-gradient(90deg, rgba(255, 0, 0, 0.25) 0, transparent 0.25%),
    linear-gradient(
    90deg,
    transparent 50%,
    rgba(255, 0, 0, 0.25) 50%,
    transparent 50.25%
  );
}
