.leaflet-marker-title {
  filter: drop-shadow(4px 4px 4px color-mod(var(--color-inverse) alpha(50%)));
}

.leaflet-marker-title::before {
  display: block;
  position: absolute;
  top: 29px;
  left: 50%;
  content: '';
  width: 0;
  height: 0;
  border-left: 5.5px solid transparent;
  border-right: 5.5px solid transparent;
  border-top: 8px solid var(--color-bg);
  margin-left: -5.5px;
}

.leaflet-marker-icon.marker-cluster-xs {
  box-shadow: 0 0 0 var(--unit-xxs) color-mod(var(--color-bg) alpha(100%));
}

.leaflet-marker-icon.marker-cluster-s {
  box-shadow: 0 0 0 var(--unit-xs) color-mod(var(--color-bg) alpha(90%));
}

.leaflet-marker-icon.marker-cluster-m {
  box-shadow: 0 0 0 var(--unit-s) color-mod(var(--color-bg) alpha(80%));
}

.leaflet-marker-icon.marker-cluster-l {
  box-shadow: 0 0 0 var(--unit-m) color-mod(var(--color-bg) alpha(70%));
}
