.leaflet-marker-title::before {
  display: block;
  position: absolute;
  top: 29px;
  left: 10px;
  content: '';
  width: 0;
  height: 0;
  border-left: 5.5px solid transparent;
  border-right: 5.5px solid transparent;
  border-top: 8px solid var(--color-bg);
}

.leaflet-marker-title {
  filter: drop-shadow(4px 4px 4px color-mod(var(--color-inverse) alpha(50%)));
}

.leaflet-marker-icon.marker-cluster-size-mini {
  height: 35px;
  width: 35px;
  line-height: 25px;
  text-align: center;
}

.leaflet-marker-icon.marker-cluster-size-small {
  height: 40px;
  width: 40px;
  line-height: 30px;
  text-align: center;
}

.leaflet-marker-icon.marker-cluster-size-medium {
  height: 45px;
  width: 45px;
  line-height: 35px;
  text-align: center;
}

.leaflet-marker-icon.marker-cluster-size-large {
  height: 50px;
  width: 50px;
  line-height: 40px;
  text-align: center;
}

.leaflet-marker-icon.marker-cluster-size-extra {
  height: 55px;
  width: 55px;
  line-height: 45px;
  text-align: center;
}

.leaflet-marker-icon.marker-titre {
  background-color: #bedadc;
  text-align: center;
}
