/* system.css / settings
-------------------------------
http://francoisromain.github.io/postcss-structure
*/

:root {
  /* Colors        ------------------------------- */
  --color-text: #666;
  --color-bg: white;
  --color-transparent: rgba(248, 247, 243, 0);
  --color-inverse: #3d3d35;
  --color-neutral: #bcb9af;
  --color-alt: #f0efe8;
  --color-highlight: #b5d1d1;
  --color-brand: rgb(0, 162, 255);
  --color-error: #e82239;
  --color-warning: #ff891c;
  --color-info: #5798aa;
  --color-success: #6ea040;

  --color-title-domaine-m: #498bd6;
  --color-title-domaine-h: #856940;
  --color-title-domaine-s: #8468b1;
  --color-title-domaine-g: #d16c3e;
  --color-title-domaine-w: #3ed1ac;
  --color-title-domaine-r: #c2d13e;
  --color-title-domaine-c: #3ea3d1;
  --color-title-domaine-f: #a8782f;

  /* Base units    ------------------------------- */

  /* font-size: 1rem = 16 px */
  --base-font-size: 1rem;

  /* base: 1.5rem = 24 px */
  --unit: 1.5rem;

  /* line: 0.0625rem = 1px */
  --unit-line: calc(var(--unit) / 24);

  /* xxs: 0.1875rem = 3px */
  --unit-xxs: calc(var(--unit) / 8);

  /* xs: 0.375rem = 6px */
  --unit-xs: calc(var(--unit) / 4);

  /* s: 0.75rem = 12px */
  --unit-s: calc(var(--unit) / 2);

  /* m: 1.125rem = 18px */
  --unit-m: calc(var(--unit) * 3 / 4);

  /* l: 2.25rem = 36 px */
  --unit-l: calc(var(--unit) * 3 / 2);

  /* xl: 3rem = 48px */
  --unit-xl: calc(var(--unit) * 2);

  /* xxl: 3.75rem = 60 px */
  --unit-xxl: calc(var(--unit) * 2.5);

  /*  */
  --unit-infinity: 9999px;

  /* Lists         ------------------------------- */
  --list-postfix: ',';
  --list-prefix: '―';

  /* Grid          ------------------------------- */

  /*
  postcss-grid-system configuration
  https://github.com/francoisromain/postcss-grid-system#configuration
  */

  /* width of a single bloc in rem */
  --col-width: 20.5rem;

  /* width of the gutter in rem */
  --gutter: var(--unit);

  /* padding of the main container in rem */
  --container-padding: var(--unit);

  /* transition */
  --transition: opacity 0.5s, background-color 0.5s, border 0.5s,
    box-shadow 0.5s, fill 0.5s;

  /* hr */
  --border-color: var(--color-neutral);
  --border-width: var(--unit-line);
}

/* media queries: x * col-width + gutter */
@custom-media --viewport-mobile (min-width: 22em);
@custom-media --viewport-tablet (min-width: 42.5em);
@custom-media --viewport-desktop (min-width: 63em);
@custom-media --viewport-large (min-width: 83.5em);
