/*
    Theme
-------------------------------
*/

:root {
  --margin-negative: 0;
  --margin-negative-padding: calc(-1 * var(--container-padding));
}

[v-cloak] {
  display: none;
}

html {
  overflow-x: hidden;
}

.sponsor {
  max-height: calc(var(--unit) * 3);
}

.map:not(.leaflet-pseudo-fullscreen) {
  z-index: 0;
}

.map-detail,
.map-list {
  height: calc(var(--unit) * 21);
}

.points {
  height: calc(var(--unit) * 24);
  overflow-y: scroll;
}

.points .container {
  min-height: 100%;
}

.card-border {
  clear: both;
  border: 0;
  height: 0;
  border-top-width: var(--unit-xxs);
  border-top-style: solid;
  border-top-color: var(--color-alt);
  margin-left: calc(var(--unit) * -1);
  margin-right: calc(var(--unit) * -1);
}

.width-max {
  margin-left: var(--margin-negative);
  margin-right: var(--margin-negative);
}

.width-max-padding {
  margin-left: var(--margin-negative-padding);
  margin-right: var(--margin-negative-padding);
}

.line {
  clear: both;
  border: 0;
  height: 0;
  border-top-width: var(--unit-xxs);
  border-top-style: solid;
  border-top-color: var(--color-alt);
  margin-left: var(--margin-negative-padding);
  margin-right: var(--margin-negative-padding);
}

.line-neutral {
  clear: both;
  border: 0;
  height: 0;
  border-top-width: var(--unit-xxs);
  border-top-style: solid;
  border-top-color: var(--color-neutral);
  margin-left: var(--margin-negative-padding);
  margin-right: var(--margin-negative-padding);
}

.sticky-header {
  top: 0;
  z-index: 1;
  position: sticky;
  background-color: var(--color-bg);
  margin-left: var(--margin-negative-padding);
  margin-right: var(--margin-negative-padding);
}

.banner {
  background-color: var(--color-sticky);
  z-index: 1;
  border-bottom: dashed 1px var(--color-text);
}

.header-menu {
  padding: 0;
  list-style: none;
  margin-bottom: 0;

  & > li {
    margin-bottom: 0;
    float: left;
  }
}

.content {
  padding-top: var(--unit);
}

.bg-titre-domaine-c {
  background: var(--color-title-domaine-c);
}

.bg-titre-domaine-f {
  background: var(--color-title-domaine-f);
}

.bg-titre-domaine-g {
  background: var(--color-title-domaine-g);
}

.bg-titre-domaine-h {
  background: var(--color-title-domaine-h);
}

.bg-titre-domaine-m {
  background: var(--color-title-domaine-m);
}

.bg-titre-domaine-r {
  background: var(--color-title-domaine-r);
}

.bg-titre-domaine-s {
  background: var(--color-title-domaine-s);
}

.bg-titre-domaine-w {
  background: var(--color-title-domaine-w);
}

.popup {
  overflow: auto;
  display: flex;
  flex-direction: column;
  z-index: 2;
}

.popup-header {
  flex: 0 0 auto;
  border-bottom-width: var(--unit-xxs);
  border-bottom-style: solid;
  border-bottom-color: var(--color-alt);
  margin-bottom: calc(-1 * var(--unit-xxs));
  z-index: 1;
}

.popup-content {
  flex: 0 0 auto;
  overflow-y: auto;
  overscroll-behavior: contain;
}

.popup-footer {
  flex: 0 0 auto;
  border-top-width: var(--unit-xxs);
  border-top-style: solid;
  border-top-color: var(--color-alt);
  margin-top: calc(-1 * var(--unit-xxs));
}

.map-loader {
  z-index: 500;
  background-color: var(--color-bg);
  right: 0;
  top: 0;
}

.footer a {
  color: var(--color-bg);
}

.separator {
  display: block;
  width: calc(var(--col-width) / 2 - var(--gutter));
  height: var(--unit-xs);
  margin-top: calc(var(--unit) * 2);
  margin-bottom: calc(var(--unit) * 2);
  background: #76b6bd;
  background: linear-gradient(to right, #b5d1d1, #76b6bd);
}

.lead {
  typescale: 1 1.25;
  margin: var(--unit-xl) var(--unit);
  color: var(--color-brand);
  font-style: italic;
}

.camino-header-baseline {
  padding-left: 29.5%;
  margin-top: -0.8rem;
}

.messages {
  position: fixed;
  width: calc(100% - (2 * var(--gutter)));
  transform: translate(-50%, 0);
  top: auto;
  right: auto;
  bottom: calc(var(--unit) * 3);
  left: 50%;
  z-index: 2;
}

.accordion-header {
  flex-direction: column;
  align-items: stretch;
  flex-wrap: wrap;
  overflow: hidden;
}

.accordion-buttons {
  overflow: hidden;
  padding-right: var(--unit-line);
  padding-top: var(--unit-line);
  padding-bottom: var(--unit-line);
}

.dropdown {
  z-index: 1;
}

.lh-1-8 {
  line-height: 1.8;
}

.lh-2 {
  line-height: 2;
}

.geo-groupe {
  padding: var(--unit-xs) var(--unit-xs) 0 var(--unit-xs);
  box-shadow: inset 0 0 0 var(--unit-line) var(--color-alt);
  border-radius: var(--unit);
  background-color: var(--color-neutral);
  display: inline-block;
  width: 100%;
}

.geo-groupe-edit {
  border-radius: var(--unit) var(--unit) var(--unit-m) var(--unit-m);
}

.geo-contour {
  padding: var(--unit-xs) var(--unit-xs) 0 var(--unit-xs);
  box-shadow: inset 0 0 0 var(--unit-line) var(--color-alt);
  margin-bottom: var(--unit-xs);
  border-radius: var(--unit-m);
  background-color: var(--color-alt);
  display: inline-block;
  width: 100%;
}

.geo-point {
  padding: var(--unit-s) var(--unit-s) 0 var(--unit-s);
  box-shadow: inset 0 0 0 var(--unit-line) var(--color-alt);
  margin-bottom: calc(var(--unit-xs) - var(--unit-line));
  border-radius: var(--unit-s);
  background-color: var(--color-bg);
  width: 100%;
  border-bottom: var(--unit-line) solid var(--color-alt);
}

.span-tab {
  color: var(--color-text);
  background-color: var(--color-neutral);
}

@media (--viewport-tablet) {
  .tablet-flex-right {
    margin-left: auto;
  }

  .tablet-pt-s {
    padding-top: var(--unit-s);
  }

  .tablet-mb-0 {
    margin-bottom: 0;
  }

  .tablet-mb {
    margin-bottom: var(--unit);
  }

  .tablet-mb-s {
    margin-bottom: var(--unit-s);
  }

  .tablet-mb-m {
    margin-bottom: var(--unit-m);
  }

  .tablet-flex-direction-reverse {
    flex-direction: row-reverse;
  }

  .menubar-infos {
    padding-top: var(--unit-m);
    margin-top: 0;
  }

  .map-list {
    height: calc(100vh - (15.5 * var(--unit)));
    min-height: calc(24 * var(--unit));
  }

  .form-blobs {
    gf: row 0;
  }

  .form-blob {
    gf: blob 1/2 0;
  }

  .header-blobs {
    flex-direction: row-reverse;
  }

  .camino-header-baseline {
    margin-top: -1rem;
  }

  .messages {
    width: calc(2 * var(--col-width) - var(--gutter));
  }

  .accordion-header {
    flex-direction: row;
  }

  /* .accordion-buttons > button {
    border-top: var(--unit-line) solid var(--color-alt);
  } */

  /* .accordion-buttons > button:last-child {
    border-radius: 0 var(--unit-xs) 0 0;
  } */
}

@media (--viewport-desktop) {
  :root {
    --margin-negative: calc(
      -1 * (100vw - (var(--container-width) + (2 * var(--container-padding)))) /
        2
    );
    --margin-negative-padding: calc(
      var(--margin-negative) - (2 * var(--container-padding))
    );
  }

  .leaflet-left {
    left: var(--unit-l);
  }

  .popup {
    width: calc(2 * var(--col-width) - var(--gutter));
    max-height: calc(100% - 4 * var(--unit));
    transform: translate(-50%, 0);
    top: calc(var(--unit) * 2);
    right: auto;
    bottom: auto;
    left: 50%;
    border-radius: var(--unit);
    overflow: hidden;
  }

  .popup-content {
    height: calc(100% - 8 * var(--unit));
    flex: 1 1 auto;
  }
}

@media (--viewport-large) {
  .camino-header-baseline {
    padding-left: 7.5rem;
  }

  .large-columns {
    column-count: 2;
  }
}

/* slide */

.slide-enter-active {
  transition: transform 0.35s ease-out 0.1s, opacity 0.25s ease-out;
  will-change: transform, opacity;
}

.slide-leave-active {
  transition: transform 0.35s ease-in, opacity 0.25s ease-in 0.1s;
  will-change: transform, opacity;
}

.slide-enter,
.slide-leave-to {
  transform: translateY(-90%);
  opacity: 0;
}

/* slide top  */

.slide-top-enter-active {
  transition: top 0.4s ease-out;
  will-change: top;
}

.slide-top-leave-active {
  transition: top 0.4s ease-in;
  will-change: top;
}

.slide-top-enter,
.slide-top-leave-to {
  top: -100%;
}

/* slide-bottom */

.slide-bottom-enter-active {
  transition: transform 0.35s ease-out 0.1s, opacity 0.25s ease-out;
  will-change: transform, opacity;
}

.slide-bottom-leave-active {
  transition: transform 0.35s ease-in, opacity 0.25s ease-in 0.1s;
  will-change: transform, opacity;
}

.slide-bottom-enter,
.slide-bottom-leave-to {
  transform: translateY(90%);
  opacity: 0;
}

/* fade enter */

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.25s ease-out;
  will-change: opacity;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}
