/*
    Theme
-------------------------------
*/

:root {
  --header-height: calc(var(--unit) * 2);
}

[v-cloak] {
  display: none;
}

.sponsor {
  max-height: calc(var(--unit) * 3);
}

.active .btn-transparent {
  border-bottom: solid var(--color-text) var(--unit-line);
  padding-bottom: calc(var(--unit-m) - var(--unit-line));
}

.dropdown {
  margin-bottom: var(--unit);
  background-color: var(--color-alt);
}

.map {
  height: calc(var(--unit) * 10);
  z-index: 0;
}

.card-border {
  clear: both;
  border: 0;
  height: 0;
  border-top-width: var(--unit-xxs);
  border-top-style: solid;
  border-top-color: var(--color-alt);
  margin-bottom: calc(var(--unit) - var(--unit-xxs));
  margin-left: calc(var(--unit) * -1);
  margin-right: calc(var(--unit) * -1);
}

.height-0 {
  height: 0;
  overflow: hidden;
}

.sticky-bottom {
  bottom: 0;
  right: calc(var(--unit) * -1);
  left: calc(var(--unit) * -1);
  position: sticky;
  background-color: var(--color-neutral);
  color: var(--color-bg);
  padding: var(--unit) var(--unit);
  margin-left: calc(var(--unit) * -1);
  margin-right: calc(var(--unit) * -1);
}

.header-menu {
  padding: 0;
  list-style: none;
  margin-bottom: 0;

  & > li {
    margin-bottom: 0;
    float: left;
  }
}

.bg-title-domaine-c {
  background: var(--color-title-domaine-c);
}

.bg-title-domaine-f {
  background: var(--color-title-domaine-f);
}

.bg-title-domaine-g {
  background: var(--color-title-domaine-g);
}

.bg-title-domaine-h {
  background: var(--color-title-domaine-h);
}

.bg-title-domaine-m {
  background: var(--color-title-domaine-m);
}

.bg-title-domaine-r {
  background: var(--color-title-domaine-r);
}

.bg-title-domaine-s {
  background: var(--color-title-domaine-s);
}

.bg-title-domaine-w {
  background: var(--color-title-domaine-w);
}

.svg-fill-domaine-c {
  fill: var(--color-title-domaine-c);
}

.svg-fill-domaine-f {
  fill: var(--color-title-domaine-f);
}

.svg-fill-domaine-g {
  fill: var(--color-title-domaine-g);
}

.svg-fill-domaine-h {
  fill: var(--color-title-domaine-h);
}

.svg-fill-domaine-m {
  fill: var(--color-title-domaine-m);
}

.svg-fill-domaine-r {
  fill: var(--color-title-domaine-r);
}

.svg-fill-domaine-s {
  fill: var(--color-title-domaine-s);
}

.svg-fill-domaine-w {
  fill: var(--color-title-domaine-w);
}

.popup {
  display: flex;
  flex-direction: column;
}

.popup-header {
  flex: 0 0 auto;
  border-bottom-width: var(--unit-xxs);
  border-bottom-style: solid;
  border-bottom-color: var(--color-alt);
  margin-bottom: calc(-1 * var(--unit-xxs));
  z-index: 1;
}

.popup-content {
  flex: 1 1 auto;
  height: calc(100% - 8 * var(--unit));
  overflow-y: auto;
  overscroll-behavior: contain;
}

.popup-footer {
  flex: 0 0 auto;
  border-top-width: var(--unit-xxs);
  border-top-style: solid;
  border-top-color: var(--color-alt);
  margin-top: calc(-1 * var(--unit-xxs));
  z-index: 1;
}

.map-loader {
  z-index: 500;
  background-color: var(--color-bg);
  right: 0;
  top: 0;
}

.footer a {
  color: var(--color-bg);
}

.separator {
  display: block;
  width: calc(var(--col-width) / 2 - var(--gutter));
  height: 3px;
  margin-top: calc(var(--unit) * 2);
  margin-bottom: calc(var(--unit) * 2);
  background: #3f51b5;
  background: linear-gradient(to right, #3f51b5, #76b6bd);
}

.lead {
  typescale: 1 1.25;
  padding: var(--unit);
  color: var(--color-neutral);
  font-style: italic;
}

.camino-header-baseline {
  padding-left: 29.5%;
  margin-top: -1.2rem;
}

.messages {
  padding-left: var(--container-padding);
  padding-right: var(--container-padding);
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.accordion-header {
  flex-direction: column;
  align-items: stretch;
}

.accordion-buttons > button:last-child {
  border-right: var(--unit-line) solid var(--color-alt);
}

@media (--viewport-tablet) {
  .tablet-pt-s {
    padding-top: var(--unit-s);
  }

  .tablet-mb-0 {
    margin-bottom: 0;
  }

  .menubar-infos {
    padding-top: var(--unit-m);
    margin-top: 0;
  }

  .dropdown {
    position: absolute;
    right: var(--gutter);
    top: 0;
  }

  .map {
    height: calc(var(--unit) * 20);
  }

  .form-blobs {
    gf: row 0;
  }

  .form-blob {
    gf: blob 1/2 0;
  }

  .header-blobs {
    flex-direction: row-reverse;
  }

  .camino-header-baseline {
    padding-left: 8.75rem;
    margin-top: -1.25rem;
  }

  .messages {
    position: fixed;
    width: calc(2 * var(--col-width) - var(--gutter));
    transform: translate(-50%, 0);
    top: calc(var(--unit) * 4);
    right: auto;
    bottom: auto;
    left: 50%;
    z-index: 2;
  }

  .accordion-header {
    flex-direction: row;
  }

  .accordion-buttons > button {
    border-top: var(--unit-line) solid var(--color-alt);
  }

  .accordion-buttons > button:last-child {
    border-radius: 0 var(--unit-xs) 0 0;
  }
}

@media (--viewport-desktop) {
  .popup {
    width: calc(2 * var(--col-width) - var(--gutter));
    max-height: calc(100% - 4 * var(--unit));
    transform: translate(-50%, 0);
    top: calc(var(--unit) * 2);
    right: auto;
    bottom: auto;
    left: 50%;
    z-index: 2;
    border-radius: var(--unit);
  }
}

@media (--viewport-large) {
  .camino-header-baseline {
    padding-left: 7.5rem;
  }
}

.slide-enter-active {
  transition: transform 0.35s ease-out 0.1s, opacity 0.25s ease-out;
  will-change: transform, opacity;
}

.slide-leave-active {
  transition: transform 0.35s ease-in, opacity 0.25s ease-in 0.1s;
  will-change: transform, opacity;
}

.slide-enter,
.slide-leave-to {
  transform: translateY(-90%);
  opacity: 0;
}

.slide-top-enter-active {
  transition: top 0.4s ease-out;
  will-change: top;
}

.slide-top-leave-active {
  transition: top 0.4s ease-in;
  will-change: top;
}

.slide-top-enter,
.slide-top-leave-to {
  top: -100%;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.25s ease-out;
  will-change: opacity;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}
