/*
      Buttons
-------------------------------
*/

@button default {
  button-border-width: 0;
  button-color: var(--color-text) var(--color-bg) var(--color-bg);
  button-background: var(--color-alt) var(--color-neutral)
    var(--color-highlight);
  button-class: active disabled true;
}

.btn {
  button: default;
}

.btn-border {
  button-border: var(--unit-line) var(--color-alt) var(--color-neutral)
    var(--color-highlight);
  button-color: var(--color-neutral) var(--color-bg) var(--color-bg);
  button-background: var(--color-transparent) var(--color-neutral)
    var(--color-highlight);
  button-class: active disabled;
}

.btn-tab {
  button-border: var(--unit-line) var(--color-alt) var(--color-alt)
    var(--color-highlight);
  button-color: var(--color-text) var(--color-text) var(--color-bg);
  button-background: var(--color-transparent) var(--color-alt)
    var(--color-highlight);
  button-class: active disabled;
}

.btn-alt {
  button-color: var(--color-text) var(--color-bg) var(--color-bg);
  button-background: var(--color-bg) var(--color-neutral) var(--color-highlight);
  button-class: active disabled false;
}

.btn-flash {
  button-color: var(--color-bg) var(--color-bg) var(--color-bg);
  button-background: var(--color-neutral) var(--color-inverse)
    var(--color-highlight);
  button-class: active disabled true;
}

.btn-transparent {
  button-color: var(--color-inverse) var(--color-neutral) var(--color-highlight);
  button-background: var(--color-transparent) var(--color-transparent)
    var(--color-transparent);
  button-class: active disabled false;
}

.btn,
.btn-alt,
.btn-border,
.btn-transparent,
.btn-flash,
.btn-tab {
  transition: var(--transition);
  font-weight: 700;
}

.btn-icon {
  line-height: 1rem;
}
