/*
    Sticky footer
-------------------------------
http://mystrd.at/modern-clean-css-sticky-footer/
*/

:root {
  --footer-height: calc(var(--unit) * 9);
}

html {
  position: relative;
  height: 100%;
}

body {
  min-height: 100%;
}

.page {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.content {
  flex: 1;
}

.footer {
  background-color: var(--color-inverse);
  color: var(--color-bg);
}

@media (--viewport-desktop) {
  .footer {
    height: var(--footer-height);
  }
}