/*
      postcss-grid-fluid
-------------------------------

https://github.com/francoisromain/postcss-grid-fluid
*/

:root {
  --container-width: 100%;
}

@gf {
  gutter: var(--gutter);
  display: flex;
}

.container {
  padding-left: var(--container-padding);
  padding-right: var(--container-padding);
  margin-left: auto;
  margin-right: auto;
  width: var(--container-width);
}

.blobs {
  gf: row;
}

.blobs-packed {
  clear: both;
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  align-content: flex-start;
}

.blob-packed-1-2 {
  flex: 0 1 50%;
}

.blob {
  margin-right: var(--gutter);
  flex: 0 1 0;
}

.blob-auto {
  margin-right: var(--gutter);
  flex: 0 1 auto;
}

.blob-1 {
  gf: blob 1;
}

.blob-code,
.blob-1-2 {
  gf: blob 1/2;
}

.blob-1-3 {
  gf: blob 1/3;
}

.blob-2-3 {
  gf: blob 2/3;
}

.blob-1-4 {
  gf: blob 1/4;
}

.blob-3-4 {
  gf: blob 3/4;
}

.blob-1-6 {
  gf: blob 1/6;
}

.blob-5-6 {
  gf: blob 5/6;
}

.blob-btn {
  margin-right: var(--gutter);
  flex: 0 1 3rem;
}

.blob-3-4-btn {
  margin-right: var(--gutter);
  flex: 0 1 calc(75% - var(--gutter) - 3rem - var(--gutter));
}

@media (--viewport-mobile) {
  .mobile-blobs {
    gf: row;
  }

  .mobile-blob {
    margin-right: var(--gutter);
    flex: 0 1 0;
  }

  .mobile-blob-auto {
    margin-right: var(--gutter);
    flex: 0 1 auto;
  }

  .mobile-blob-1 {
    gf: blob 1;
  }

  .mobile-blob-1-2 {
    gf: blob 1/2;
  }

  .mobile-blob-1-3 {
    gf: blob 1/3;
  }

  .mobile-blob-2-3 {
    gf: blob 2/3;
  }

  .mobile-blob-1-4 {
    gf: blob 1/4;
  }

  .mobile-blob-3-4 {
    gf: blob 3/4;
  }

  .mobile-blob-1-6 {
    gf: blob 1/6;
  }

  .mobile-blob-5-6 {
    gf: blob 5/6;
  }
}

@media (--viewport-tablet) {
  .tablet-flex {
    display: flex;
  }

  .tablet-flex-right {
    margin-left: auto;
  }

  .tablet-blobs {
    gf: row;
  }

  .tablet-blob {
    margin-right: var(--gutter);
    flex: 0 1 0;
  }

  .tablet-blob-auto {
    margin-right: var(--gutter);
    flex: 0 1 auto;
  }

  .tablet-blob-1 {
    gf: blob 1;
  }

  .tablet-blob-1-2 {
    gf: blob 1/2;
  }

  .tablet-blob-1-3 {
    gf: blob 1/3;
  }

  .tablet-blob-2-3 {
    gf: blob 2/3;
  }

  .tablet-blob-1-4 {
    gf: blob 1/4;
  }

  .tablet-blob-3-4 {
    gf: blob 3/4;
  }

  .tablet-blob-1-6 {
    gf: blob 1/6;
  }

  .tablet-blob-5-6 {
    gf: blob 5/6;
  }

  .tablet-blob-3-8 {
    gf: blob 3/8;
  }
}

@media (--viewport-desktop) {
  :root {
    --container-width: calc(3 * var(--col-width) + var(--gutter));
  }

  .desktop-flex {
    display: flex;
  }

  .desktop-flex-right {
    margin-left: auto;
  }

  .desktop-blobs {
    gf: row;
  }

  .desktop-blob-1 {
    gf: blob 1;
  }

  .desktop-blob-1-2 {
    gf: blob 1/2;
  }

  .desktop-blob-1-3 {
    gf: blob 1/3;
  }

  .desktop-blob-2-3 {
    gf: blob 2/3;
  }

  .desktop-blob-1-4 {
    gf: blob 1/4;
  }

  .desktop-blob-3-4 {
    gf: blob 3/4;
  }

  .desktop-blob-1-6 {
    gf: blob 1/6;
  }

  .desktop-blob-5-6 {
    gf: blob 5/6;
  }
}

@media (--viewport-large) {
  :root {
    --container-width: calc(4 * var(--col-width) + var(--gutter));
  }

  .large-blobs {
    gf: row;
  }

  .large-blob-1 {
    gf: blob 1;
  }

  .large-blob-1-2 {
    gf: blob 1/2;
  }

  .large-blob-1-3 {
    gf: blob 1/3;
  }

  .large-blob-2-3 {
    gf: blob 2/3;
  }

  .large-blob-1-4 {
    gf: blob 1/4;
  }

  .large-blob-3-4 {
    gf: blob 3/4;
  }

  .large-blob-1-6 {
    gf: blob 1/6;
  }

  .large-blob-5-6 {
    gf: blob 5/6;
  }
}
