/*
      postcss-grid-fluid
-------------------------------

https://github.com/francoisromain/postcss-grid-fluid
*/

@gf {
  gutter: var(--gutter);
  display: flex;
}

.container {
  padding-left: var(--container-padding);
  padding-right: var(--container-padding);
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.blobs {
  gf: row;
}

.blob,
.blob-1,
.blob-1-2,
.blob-1-3,
.blob-2-3,
.blob-1-4,
.blob-3-4,
.blob-1-6,
.blob-5-4,
.blob-btn,
.blob-3-4-btn,
.blob-tablet-1,
.blob-tablet-1-2,
.blob-tablet-1-3,
.blob-tablet-2-3,
.blob-tablet-1-4,
.blob-tablet-3-4,
.blob-tablet-1-6,
.blob-tablet-5-4 {
  margin-bottom: var(--unit);
}

.blob {
  margin-right: var(--gutter);
  flex: 0 1 0;
}

.blob-1 {
  gf: blob 1;
}

.blob-code,
.blob-1-2 {
  gf: blob 1/2;
}

.blob-1-3 {
  gf: blob 1/3;
}

.blob-2-3 {
  gf: blob 2/3;
}

.blob-1-4 {
  gf: blob 1/4;
}

.blob-3-4 {
  gf: blob 3/4;
}

.blob-1-6 {
  gf: blob 1/4;
}

.blob-5-6 {
  gf: blob 3/4;
}

.blob-btn {
  margin-right: var(--gutter);
  margin-bottom: var(--gutter);
  flex: 0 1 3rem;
}

.blob-3-4-btn {
  margin-right: var(--gutter);
  margin-bottom: var(--gutter);
  flex: 0 1 calc(75% - var(--gutter) - 3rem - var(--gutter));
}

@media (--viewport-tablet) {
  .container {
    width: calc(2 * var(--col-width) + var(--gutter));
  }

  .blobs-tablet {
    gf: row;
  }

  .blob-tablet {
    margin-right: var(--gutter);
    margin-bottom: var(--gutter);
    flex: 0 1 0;
  }

  .blob-tablet-auto {
    margin-right: var(--gutter);
    margin-bottom: var(--gutter);
    flex: 0 1 auto;
  }

  .blob-tablet-1 {
    gf: blob 1;
  }

  .blob-tablet-code,
  .blob-tablet-1-2 {
    gf: blob 1/2;
  }

  .blob-tablet-1-3 {
    gf: blob 1/3;
  }

  .blob-tablet-2-3 {
    gf: blob 2/3;
  }

  .blob-tablet-1-4 {
    gf: blob 1/4;
  }

  .blob-tablet-3-4 {
    gf: blob 3/4;
  }

  .blob-tablet-1-6 {
    gf: blob 1/4;
  }

  .blob-tablet-5-6 {
    gf: blob 3/4;
  }
}

@media (--viewport-desktop) {
  .container {
    width: calc(3 * var(--col-width) + var(--gutter));
  }
}

@media (--viewport-large) {
  .container {
    width: calc(4 * var(--col-width) + var(--gutter));
  }
}
