.icon {
  width: 100%;
  height: 100%;
  display: block;
  background-size: cover;
}

.icon-8 {
  width: calc(var(--base-font-size) / 2);
  height: calc(var(--base-font-size) / 2);
  display: block;
}

.icon-12 {
  width: calc(var(--unit) / 2);
  height: calc(var(--unit) / 2);
  display: block;
  background-repeat: no-repeat;
}

.icon-24 {
  width: var(--unit);
  height: var(--unit);
  display: block;
  background-repeat: no-repeat;
}

.icon-48 {
  width: var(--unit-xl);
  height: var(--unit-xl);
  display: block;
  background-repeat: no-repeat;
}

.icon-128 {
  width: calc(var(--unit) * 5);
  height: calc(var(--unit) * 5);
  display: inline-block;
  vertical-align: middle;
  background-repeat: no-repeat;
}

.icon-close {
  background-image: svg-load(
    './icons/24-close.svg',
    fill=none,
    stroke= '#666',
    stroke-linecap=round,
    stroke-linejoin=round,
    stroke-width=1.25px
  );
}

.btn-alt:hover .icon-close {
  background-image: svg-load(
    './icons/24-close.svg',
    fill=none,
    stroke= 'white',
    stroke-linecap=round,
    stroke-linejoin=round,
    stroke-width=1.25px
  );
}

.icon-plus {
  background-image: svg-load(
    './icons/24-plus.svg',
    fill=none,
    stroke= '#666',
    stroke-linecap=round,
    stroke-linejoin=round,
    stroke-width=1.25px
  );
}

.btn-alt .icon-plus,
.btn:hover .icon-plus,
.btn-alt:hover .icon-plus,
.btn-border:hover .icon-plus {
  background-image: svg-load(
    './icons/24-plus.svg',
    fill=none,
    stroke= 'white',
    stroke-linecap=round,
    stroke-linejoin=round,
    stroke-width=1.25px
  );
}

.icon-minus {
  background-image: svg-load(
    './icons/24-minus.svg',
    fill=none,
    stroke= '#666',
    stroke-linecap=round,
    stroke-linejoin=round,
    stroke-width=1.25px
  );
}

.btn:hover .icon-minus,
.btn-border:hover .icon-minus {
  background-image: svg-load(
    './icons/24-minus.svg',
    fill=none,
    stroke= 'white',
    stroke-linecap=round,
    stroke-linejoin=round,
    stroke-width=1.25px
  );
}

.icon-chevron-b {
  background-image: svg-load(
    './icons/24-chevron-b.svg',
    fill=none,
    stroke= '#666',
    stroke-linecap=round,
    stroke-linejoin=round,
    stroke-width=1.25px
  );
}

.btn-border:hover .icon-chevron-b,
.btn:hover .icon-chevron-b,
.btn-alt:hover .icon-chevron-b {
  background-image: svg-load(
    './icons/24-chevron-b.svg',
    fill=none,
    stroke= 'white',
    stroke-linecap=round,
    stroke-linejoin=round,
    stroke-width=1.25px
  );
}

.icon-chevron-t {
  background-image: svg-load(
    './icons/24-chevron-t.svg',
    fill=none,
    stroke= '#666',
    stroke-linecap=round,
    stroke-linejoin=round,
    stroke-width=1.25px
  );
}

.btn-border:hover .icon-chevron-t,
.btn:hover .icon-chevron-t,
.btn-alt:hover .icon-chevron-t {
  background-image: svg-load(
    './icons/24-chevron-t.svg',
    fill=none,
    stroke= 'white',
    stroke-linecap=round,
    stroke-linejoin=round,
    stroke-width=1.25px
  );
}

.icon-file-plus {
  background-image: svg-load(
    './icons/24-file-plus.svg',
    fill=none,
    stroke= '#666',
    stroke-linecap=round,
    stroke-linejoin=round,
    stroke-width=1.25px
  );
}

.btn:hover .icon-file-plus {
  background-image: svg-load(
    './icons/24-file-plus.svg',
    fill=none,
    stroke= 'white',
    stroke-linecap=round,
    stroke-linejoin=round,
    stroke-width=1.25px
  );
}

.icon-file-chevron-b {
  background-image: svg-load(
    './icons/24-file-chevron-b.svg',
    fill=none,
    stroke= '#666',
    stroke-linecap=round,
    stroke-linejoin=round,
    stroke-width=1.25px
  );
}

.btn-border:hover .icon-file-chevron-b,
.btn-alt:hover .icon-file-chevron-b {
  background-image: svg-load(
    './icons/24-file-chevron-b.svg',
    fill=none,
    stroke= 'white',
    stroke-linecap=round,
    stroke-linejoin=round,
    stroke-width=1.25px
  );
}

.icon-file-chevron-t {
  background-image: svg-load(
    './icons/24-file-chevron-t.svg',
    fill=none,
    stroke= '#666',
    stroke-linecap=round,
    stroke-linejoin=round,
    stroke-width=1.25px
  );
}

.btn-border:hover .icon-file-chevron-t,
.btn-alt:hover .icon-file-chevron-t {
  background-image: svg-load(
    './icons/24-file-chevron-t.svg',
    fill=none,
    stroke= 'white',
    stroke-linecap=round,
    stroke-linejoin=round,
    stroke-width=1.25px
  );
}

.icon-download {
  background-image: svg-load(
    './icons/24-download.svg',
    fill=none,
    stroke= '#666',
    stroke-linecap=round,
    stroke-linejoin=round,
    stroke-width=1.25px
  );
}
.btn-border:hover .icon-download,
.btn-alt:hover .icon-download {
  background-image: svg-load(
    './icons/24-download.svg',
    fill=none,
    stroke= 'white',
    stroke-linecap=round,
    stroke-linejoin=round,
    stroke-width=1.25px
  );
}

.icon-view {
  background-image: svg-load(
    './icons/24-view.svg',
    fill=none,
    stroke= '#666',
    stroke-linecap=round,
    stroke-linejoin=round,
    stroke-width=1.25px
  );
}

.icon-link {
  background-image: svg-load(
    './icons/24-link.svg',
    fill=none,
    stroke= '#666',
    stroke-linecap=round,
    stroke-linejoin=round,
    stroke-width=1.25px
  );
}

.btn-border:hover .icon-link {
  background-image: svg-load(
    './icons/24-link.svg',
    fill=none,
    stroke= 'white',
    stroke-linecap=round,
    stroke-linejoin=round,
    stroke-width=1.25px
  );
}

.icon-login {
  background-image: svg-load(
    './icons/24-login.svg',
    fill=none,
    stroke= '#666',
    stroke-linecap=round,
    stroke-linejoin=round,
    stroke-width=1.25px
  );
}

.btn-alt:hover .icon-login {
  background-image: svg-load(
    './icons/24-login.svg',
    fill=none,
    stroke= 'white',
    stroke-linecap=round,
    stroke-linejoin=round,
    stroke-width=1.25px
  );
}

.icon-user {
  background-image: svg-load(
    './icons/24-user.svg',
    fill=none,
    stroke= '#666',
    stroke-linecap=round,
    stroke-linejoin=round,
    stroke-width=1.25px
  );
}

.btn-border:hover .icon-user,
.active .btn-border .icon-user {
  background-image: svg-load(
    './icons/24-user.svg',
    fill=none,
    stroke= 'white',
    stroke-linecap=round,
    stroke-linejoin=round,
    stroke-width=1.25px
  );
}

.icon-menu {
  background-image: svg-load(
    './icons/24-menu.svg',
    fill=none,
    stroke= '#666',
    stroke-linecap=round,
    stroke-linejoin=round,
    stroke-width=1.25px
  );
}

.btn-border:hover .icon-menu,
.active .btn-border .icon-menu {
  background-image: svg-load(
    './icons/24-menu.svg',
    fill=none,
    stroke= 'white',
    stroke-linecap=round,
    stroke-linejoin=round,
    stroke-width=1.25px
  );
}

.icon-pencil {
  background-image: svg-load(
    './icons/24-pencil.svg',
    fill=none,
    stroke= '#666',
    stroke-linecap=round,
    stroke-linejoin=round,
    stroke-width=1.25px
  );
}

.btn:hover .icon-pencil,
.btn-alt:hover .icon-pencil,
.btn-border:hover .icon-pencil {
  background-image: svg-load(
    './icons/24-pencil.svg',
    fill=none,
    stroke= 'white',
    stroke-linecap=round,
    stroke-linejoin=round,
    stroke-width=1.25px
  );
}

.icon-key {
  background-image: svg-load(
    './icons/24-key.svg',
    fill=none,
    stroke= '#666',
    stroke-linecap=round,
    stroke-linejoin=round,
    stroke-width=1.25px
  );
}

.btn-alt:hover .icon-key {
  background-image: svg-load(
    './icons/24-key.svg',
    fill=none,
    stroke= 'white',
    stroke-linecap=round,
    stroke-linejoin=round,
    stroke-width=1.25px
  );
}

.icon-trash {
  background-image: svg-load(
    './icons/24-trash.svg',
    fill=none,
    stroke= '#666',
    stroke-linecap=round,
    stroke-linejoin=round,
    stroke-width=1.25px
  );
}

.btn:hover .icon-trash,
.btn-alt:hover .icon-trash,
.btn-border:hover .icon-trash {
  background-image: svg-load(
    './icons/24-trash.svg',
    fill=none,
    stroke= 'white',
    stroke-linecap=round,
    stroke-linejoin=round,
    stroke-width=1.25px
  );
}

.icon-24-dot.blink {
  animation: blinker 0.2s ease infinite;
}

@keyframes blinker {
  50% {
    background-image: svg-load('./icons/24-dot.svg', fill= 'white');
  }
}

.icon-globe {
  background-image: svg-load(
    './icons/globe-3.svg',
    fill=none,
    stroke= '#666',
    stroke-linecap=round,
    stroke-linejoin=round,
    stroke-width=1.25px
  );
}

.span-tab .icon-globe,
.btn-tab:hover .icon-globe {
  background-image: svg-load(
    './icons/globe-3.svg',
    fill=none,
    stroke= 'white',
    stroke-linecap=round,
    stroke-linejoin=round,
    stroke-width=1.25px
  );
}

.icon-list {
  background-image: svg-load(
    './icons/list-bullets.svg',
    fill=none,
    stroke= '#666',
    stroke-linecap=round,
    stroke-linejoin=round,
    stroke-width=1.25px
  );
}

.span-tab .icon-list,
.btn-tab:hover .icon-list {
  background-image: svg-load(
    './icons/list-bullets.svg',
    fill=none,
    stroke= 'white',
    stroke-linecap=round,
    stroke-linejoin=round,
    stroke-width=1.25px
  );
}

.icon-map {
  background-image: svg-load(
    './icons/map-pin-2.svg',
    fill=none,
    stroke= '#76b6bd',
    stroke-linecap=round,
    stroke-linejoin=round,
    stroke-width=1px
  );
}

.icon-dashboard {
  background-image: svg-load(
    './icons/window-speedtest.svg',
    fill=none,
    stroke= '#76b6bd',
    stroke-linecap=round,
    stroke-linejoin=round,
    stroke-width=1px
  );
}

.icon-api {
  background-image: svg-load(
    './icons/cloud-setting.svg',
    fill=none,
    stroke= '#76b6bd',
    stroke-linecap=round,
    stroke-linejoin=round,
    stroke-width=1px
  );
}

.icon-user-check {
  background-image: svg-load(
    './icons/business-check.svg',
    fill=none,
    stroke= '#76b6bd',
    stroke-linecap=round,
    stroke-linejoin=round,
    stroke-width=1px
  );
}

.icon-ngo {
  background-image: svg-load(
    './icons/group-global.svg',
    fill=none,
    stroke= '#76b6bd',
    stroke-linecap=round,
    stroke-linejoin=round,
    stroke-width=1px
  );
}

.icon-business {
  background-image: svg-load(
    './icons/building-2.svg',
    fill=none,
    stroke= '#76b6bd',
    stroke-linecap=round,
    stroke-linejoin=round,
    stroke-width=1px
  );
}

.icon-markers-grouped {
  background-image: svg-load(
    './icons/24-markers-grouped.svg',
    fill=none,
    stroke= '#666',
    stroke-linecap=round,
    stroke-linejoin=round,
    stroke-width=1.25px
  );
}

.icon-markers-ungrouped {
  background-image: svg-load(
    './icons/24-markers-ungrouped.svg',
    fill=none,
    stroke= '#666',
    stroke-linecap=round,
    stroke-linejoin=round,
    stroke-width=1.25px
  );
}

.btn-border:hover .icon-markers-grouped {
  background-image: svg-load(
    './icons/24-markers-grouped.svg',
    fill=none,
    stroke= 'white',
    stroke-linecap=round,
    stroke-linejoin=round,
    stroke-width=1.25px
  );
}

.btn-border:hover .icon-markers-ungrouped {
  background-image: svg-load(
    './icons/24-markers-ungrouped.svg',
    fill=none,
    stroke= 'white',
    stroke-linecap=round,
    stroke-linejoin=round,
    stroke-width=1.25px
  );
}

.icon-window-link {
  background-image: svg-load(
    './icons/24-window-link.svg',
    fill=none,
    stroke= '#666',
    stroke-linecap=round,
    stroke-linejoin=round,
    stroke-width=1.25px
  );
}

.btn-alt:hover .icon-window-link {
  background-image: svg-load(
    './icons/24-window-link.svg',
    fill=none,
    stroke= 'white',
    stroke-linecap=round,
    stroke-linejoin=round,
    stroke-width=1.25px
  );
}

.icon-move-down {
  background-image: svg-load(
    './icons/24-move-down.svg',
    fill=none,
    stroke= '#666',
    stroke-linecap=round,
    stroke-linejoin=round,
    stroke-width=1.25px
  );
}

.btn-border:hover .icon-move-down {
  background-image: svg-load(
    './icons/24-move-down.svg',
    fill=none,
    stroke= 'white',
    stroke-linecap=round,
    stroke-linejoin=round,
    stroke-width=1.25px
  );
}

.icon-move-up {
  background-image: svg-load(
    './icons/24-move-up.svg',
    fill=none,
    stroke= '#666',
    stroke-linecap=round,
    stroke-linejoin=round,
    stroke-width=1.25px
  );
}

.btn-border:hover .icon-move-up {
  background-image: svg-load(
    './icons/24-move-up.svg',
    fill=none,
    stroke= 'white',
    stroke-linecap=round,
    stroke-linejoin=round,
    stroke-width=1.25px
  );
}

.icon-announcement {
  background-image: svg-load(
    './icons/48-announcement.svg',
    fill=none,
    stroke= '#666',
    stroke-linecap=round,
    stroke-linejoin=round,
    stroke-width=2px
  );
}
