/*
    Reset
-------------------------------
*/

/*
  css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice
  paulirish.com/2012/box-sizing-border-box-ftw
*/

html,
* {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  overflow-y: scroll;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  background-color: var(--color-bg);
  color: var(--color-text);
  font-family: system-ui;
  typescale: 0 1;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
dl,
dd,
ol,
ul,
form,
fieldset,
legend,
figure,
table,
th,
td,
caption,
hr {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
}

abbr[title],
dfn[title] {
  cursor: help;
}

button,
input,
textarea,
select,
optgroup {
  font: inherit;
  typescale: 0 1;
  text-align: left;
}

fieldset {
  border: 0 none transparent;
}

*:focus,
textarea:focus,
input:focus {
  outline: none;
  outline: 0;
}

label {
  cursor: pointer;
  display: block;
}

u,
ins {
  text-decoration: none;
}

ins {
  border-bottom: 1px solid;
}

img,
video {
  max-width: 100%;
  font-style: italic;
  vertical-align: middle;
  height: auto;
  outline: 0;
}

/* remove yellow bg on automplete in chrome */

input:-webkit-autofill,
select:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 var(--margin-negative) white inset;
}

/* remove round corner on iOs */

input:not([type='radio']):not([type='checkbox']):not(.rnd),
select {
  -webkit-appearance: none;
  border-radius: 0;
}

/* https://github.com/necolas/normalize.css/pull/697/commits/c3762f068feca8e218e69f54daf397cd0f33176d */
button,
html [type='button'],
[type='reset'],
[type='submit'] {
  border-radius: 0;
}
