/*
    Table
-------------------------------
*/

table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  border: none;
}

th {
  text-align: left;
  font-weight: 700;
  typescale: -1 1;
  color: var(--color-neutral);
}

tr {
  border-bottom-color: var(--border-color);
  border-bottom-width: var(--unit-line);
  border-bottom-style: dotted;
}

.table-striped tr:nth-child(even) {
  background-color: var(--color-alt);
}

.table-sans tr {
  border-bottom: var(--unit-line) dotted var(--border-bg);
}

td,
th {
  vertical-align: top;
  overflow-wrap: break-word;
  padding-bottom: var(--unit-s);
  padding-top: calc(var(--unit-s) - var(--unit-line));
  padding-left: var(--unit-s);
  padding-right: var(--unit-s);
}

.table-xs td,
.table-xs th {
  padding-top: var(--unit-xs);
  padding-bottom: calc(var(--unit-xs) - var(--unit-line));
}

.table-xxs td,
.table-xxs th {
  padding-top: var(--unit-xxs);
  padding-bottom: calc(var(--unit-xxs) - var(--unit-line));
  padding-left: 0;
  padding-right: 0;
}

.table-fixed {
  display: table;
  table-layout: fixed;
}

.tr-link {
  cursor: pointer;
}

.tr-link:hover {
  background-color: var(--color-alt);
}
