/*
    UI elements
-------------------------------
*/

.pill {
  border-radius: var(--unit-infinity);
}

.rnd {
  border-radius: var(--unit-xs);
}

.rnd-top {
  border-radius: var(--unit-xs) var(--unit-xs) 0 0;
}

.border-bottom {
  border-bottom: var(--unit-line) dotted;
  margin-bottom: calc(var(--unit) - var(--unit-line));
  border-color: var(--border-color);
}

.border {
  box-shadow: inset 0 0 0 var(--unit-line) var(--color-alt);
  border-radius: var(--unit-xs);
}

.tooltip {
  position: relative;
}

.tooltip span {
  position: absolute;
  color: var(--color-alt);
  background: var(--color-neutral);
  text-align: center;
  border-radius: var(--unit-xs);
  top: calc(var(--unit-xl) * -1);
  right: 0;
  padding: var(--unit-xs);
  z-index: 999;
}

.tooltip span::after {
  content: '';
  position: absolute;
  top: 100%;
  right: var(--unit);
  border-top: var(--unit-xs) solid var(--color-neutral);
  border-right: var(--unit-xs) solid transparent;
  border-left: var(--unit-xs) solid transparent;
}

.shadow {
  box-shadow: var(--unit-xs) var(--unit-xs) var(--unit) color-mod(var(--color-neutral) alpha(0.25))
}

.shadow-inset {
  box-shadow: inset var(--unit-xs) var(--unit-xs) var(--unit) color-mod(var(--color-neutral) alpha(0.25));
}

.ribbon {
  position: absolute;
  overflow: hidden;
  top:0;
  right:0;
  width: 150px;
  height: 150px;
}

.ribbon-bloc {
  transform: rotate(45deg); 
}

.ribbon span {
  display: inline-block;
  width: 100%;
  color: var(--color-bg);
  background-color: var(--color-warning); 
  text-align: center;
}
