/*
    Utils
-------------------------------
*/

/*
http://cssmojo.com/the-very-latest-clearfix-reloaded/
*/

.clearfix::after {
  content: '';
  display: block;
  clear: both;
}

.dot {
  display: inline-block;
  width: var(--unit-s);
  height: var(--unit-s);
}

.hide {
  display: none;
  visibility: hidden;
}

.pointer {
  cursor: pointer;
}

.pointer-none {
  pointer-events: none;
}

.word-break {
  word-break: break-all;
}

.overflow-hidden {
  overflow: hidden;
}

.overflow-scroll-x {
  overflow-x: auto;
}

.overflow-scroll-y {
  overflow-y: auto;
}

.inline-block {
  display: inline-block;
}

.flex {
  display: flex;
}

.flex-grow {
  flex-grow: 1;
}

.flex-start {
  align-items: flex-start;
}

.flex-end {
  align-items: flex-end;
}

.flex-self-start {
  align-self: flex-start;
}

.flex-direction-column {
  flex-direction: column;
}

.flex-align-items-stretch {
  align-items: stretch;
}

.left {
  float: left;
}

.right {
  float: right;
}

.flex-right {
  margin-left: auto;
}

.flex-bottom {
  margin-top: auto;
}

.relative {
  position: relative;
}

.fixed {
  position: fixed;
}

.absolute {
  position: absolute;
}

.center {
  left: 50%;
  transform: translate(-50%, 0);
}

.full {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.full-x {
  width: 100%;
}

.full-y {
  height: 100%;
}

.text-ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
}

.align-y-bottom {
  vertical-align: text-bottom;
}

.min-width-5 {
  min-width: calc(5 * var(--unit));
}

.min-width-6 {
  min-width: calc(6 * var(--unit));
}

.min-width-8 {
  min-width: calc(8 * var(--unit));
}

.min-width-9 {
  min-width: calc(9 * var(--unit));
}

.min-width-10 {
  min-width: calc(10 * var(--unit));
}
